parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Tests\\\\Controller\\\\MainControllerTest\\:\\:imageDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Controller/MainControllerTest.php
